<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">

    <title>Embed Builder</title>
</head>

<body>
    
    <% if(data==="BadPass" ) { %>
        <script>
            alert("Invalid Password!")
            window.location.href = "/"
        </script>
    <% } %>


    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<br>
<br>
<div class="login">
  <h2 class="active"> sign in </h2>
  <form action="/api/login" method="POST">

    <input type="password" name="password" id="password" class="text">
    <span>password</span>

    <button  type="submit" class="signin">
      Sign In
    </button>
  </form>

</div>
</body>
</html>